<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home-page">
        <h1 class="text-pop-up-top">Welcome</h1>
        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" 
                      name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item">
                    <img src="https://coolwallpapers.me/picsup/5808914-times-square-wallpapers.jpg" alt="">
                </div>
                <input class="slide-open" type="radio" id="slide-2" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="https://wallpapercave.com/wp/wp7503544.jpg" alt="" class="">
                </div>
                <input class="slide-open" type="radio" id="slide-3" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="https://wallpapers.com/images/hd/solar-system-abstract-science-wsh6zjrhsjzni45n.jpg" alt="" class="">
                </div>
                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>

        <div>
            <img src="https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="" class="img">
            <p class="text-focus-in">
                Se sabe que los desiertos tienen muy pocas precipitaciones.
                Si las precipitaciones son escasas, ¿no serían las nevadas aún más raras?
                Pues bien, lo imposible ocurrió en 2018 y el desierto del Sahara se cubrió 
                de un manto de nieve blanca. Sin embargo, la nieve solo duró un día 
                antes de derretirse bajo el cálido sol.
                La primera nevada registrada fue en 1979: una tormenta de nieve que duró 
                media hora. Aunque las temperaturas bajan hasta el punto de congelación 
                por la noche, la falta de humedad hace casi imposible que se produzca nieve. 
                ¡Puede que tengas la suerte de verla en tu próximo viaje al Sáhara!
            </p>
        </div>
        <div>
            <img src="https://cdn.britannica.com/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg" alt="" class="img">
            <p class="text-focus-in">
                Puede que pienses que la Coca Cola es algo que puedes encontrar en cualquier
                parte del mundo,pero estos dos países han estado sometidos a embargos
                comerciales estadounidenses de larga duración: Corea del Norte desde 1950 y
                Cuba desde 1962.Sin embargo, Corea del Norte ha fabricado su propio refresco
                de color oscuro. La llaman Ryongjin Cola o "Cocoa Sparkling". Tiene el mismo
                envase rojo y la misma letra cursiva, pero ¿tiene el mismo gran sabor?
            </p>
        </div>
        <div>
            <img src="https://www.travelandleisure.com/thmb/ildFh_HcRHGYli6qL01ytKrVXkI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/grand-teton-rocky-mountains-USMNTNS0720-52499caea565471a8571acdfc3dfd9fe.jpg" alt="" class="img">
            <p class="text-focus-in">
                Egipto y pirámides son casi sinónimos, pero ¿sabías que también hay 
                pirámides en Sudán? Nubia una región de Sudán, tiene 255 pirámides, 
                ¡el doble de las de Egipto!Tras gobernar la 25ª dinastía de Egipto, 
                los faraones nubios huyeron a Sudán y formaron el reino kushita, 
                incorporando la cultura egipcia en su nueva ciudad.
                Las pirámides de Nubia no son tan visitadas como las de Egipto.
                Jebel Barkal es el más gratificante de los cuatro sitios principales.
                Las pirámides están bien conservadas y se encuentran junto a una pequeña 
                montaña. Suba a la montaña justo antes de la puesta de sol para disfrutar de 
                unas vistas impresionantes del Nilo
            </p>
        </div>
        <h1>home-page</h1>
    </div>
</body>
</html>