<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home-page">
        <h1>Welcome</h1>
        <div class="container">
            <img src="https://images.unsplash.com/photo-1585409677983-0f6c41ca9c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="" class="slide-left">
            <p class="slide-tr">
                Se sabe que los desiertos tienen muy pocas precipitaciones.
                <br>
                Si las precipitaciones son escasas, ¿no serían las nevadas aún más raras?
                <br>
                Pues bien, lo imposible ocurrió en 2018 y el desierto del Sahara se cubrió 
                <br>
                de un manto de nieve blanca. Sin embargo, la nieve solo duró un día 
                <br>
                antes de derretirse bajo el cálido sol.
                <br>
                La primera nevada registrada fue en 1979: una tormenta de nieve que duró 
                <br>
                media hora. Aunque las temperaturas bajan hasta el punto de congelación 
                <br>
                por la noche, la falta de humedad hace casi imposible que se produzca nieve. 
                <br>
                ¡Puede que tengas la suerte de verla en tu próximo viaje al Sáhara!
            </p>
        </div>
        <div class="container">
            <img src="https://cdn.britannica.com/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg" alt="" class="slide-right">
            <p class="slide-tl">
                Puede que pienses que la Coca Cola es algo que puedes encontrar en cualquier
                <br>
                parte del mundo,pero estos dos países han estado sometidos a embargos
                <br>
                comerciales estadounidenses de larga duración: Corea del Norte desde 1950 y
                <br>
                Cuba desde 1962.Sin embargo, Corea del Norte ha fabricado su propio refresco
                <br>
                de color oscuro. La llaman Ryongjin Cola o "Cocoa Sparkling". Tiene el mismo
                <br>
                envase rojo y la misma letra cursiva, pero ¿tiene el mismo gran sabor?
            </p>
        </div>
        <div class="container">
            <img src="https://www.travelandleisure.com/thmb/ildFh_HcRHGYli6qL01ytKrVXkI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/grand-teton-rocky-mountains-USMNTNS0720-52499caea565471a8571acdfc3dfd9fe.jpg" alt="" class="slide-left">
            <p class="slide-tr">
                Egipto y pirámides son casi sinónimos, pero ¿sabías que también hay 
                <br>
                pirámides en Sudán? Nubia una región de Sudán, tiene 255 pirámides, 
                <br>
                ¡el doble de las de Egipto!Tras gobernar la 25ª dinastía de Egipto, 
                <br>
                los faraones nubios huyeron a Sudán y formaron el reino kushita, 
                <br>
                incorporando la cultura egipcia en su nueva ciudad.
                <br>
                Las pirámides de Nubia no son tan visitadas como las de Egipto.
                <br>
                Jebel Barkal es el más gratificante de los cuatro sitios principales.
                <br>
                Las pirámides están bien conservadas y se encuentran junto a una pequeña 
                <br>
                montaña. Suba a la montaña justo antes de la puesta de sol para disfrutar de 
                <br>
                unas vistas impresionantes del Nilo
            </p>
        </div>
        <h1>home-page</h1>
    </div>
</body>
</html>